
$size-card-small-width: 85px;
$size-card-small-height: 120px;
$size-card-large-width: 226px;
$size-card-large-height: 318px;
$size-card-frame-small-width: 116px;
$size-card-frame-small-height: 156px;
$size-card-frame-large-width: $size-card-large-width;
$size-card-frame-large-height: $size-card-large-height;
$offset-card-level-small-left: 76px;
$offset-card-level-small-top: 115px;
$size-card-level-font: 16px;
$size-factor-chip: calc(64px / $size-card-frame-small-height);
$size-factor-cardbook: calc(120px / $size-card-frame-small-height);

:root {
  --size-card-small-width: $size-card-small-width;
  --size-card-small-height: $size-card-small-height;
  --size-card-large-width: $size-card-large-width;
  --size-card-large-height: $size-card-large-height;

  --offset-card-level-small-left: $offset-card-level-small-left;
  --offset-card-level-small-top: $offset-card-level-small-top;

  --size-card-frame-small-width: $size-card-frame-small-width;
  --size-card-frame-small-height: $size-card-frame-small-height;
  --size-card-frame-large-width: $size-card-frame-large-width;
  --size-card-frame-large-height: $size-card-frame-large-height;
}
