/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!/.yarn/cache
#/.pnp.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/
/config.*.json

*.log
log.txt
npm-debug.log*
/proto*.ts

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/build
/coverage
/dist
/node_modules
/platforms
/plugins
tmp/
temp/
/www
tsconfig.tsbuildinfo
